# Database Credentials
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=codereview

# Backend API
DATABASE_URL=postgresql://admin:password@localhost:5432/codereview

# GitHub OAuth Credentials (for later)
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# AI Credentials (for later)
ANTHROPIC_API_KEY=""

# Frontend (vite)
VITE_API_URL=http://localhost:8000
